





body {
    background-color: #004f94;
background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-size: 100%;
}



/* Navigation Bar*/



nav {
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
     width: 100%;
     height: 4.6em;
    background-color: #0068b8;
    background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin-top: 0;
}


nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 50em;
    padding: 0;
}



nav ul li {
    float: left;

}

nav ul li a {
    display: block;
    padding: .7em;
    border: 1px solid white;
    border-radius: .5em;
    margin-top: 1em ;
    margin-left: 1.5em;
    text-decoration: none;
    background-color: white;
    color: black;
    font-variant: small-caps;

}

nav ul a:focus {
    co: #fff;
}

nav ul a:hover {
    background-color: #0068b8;
    color: white;
    border: 1px solid #0068b8;

}

nav ul a:active {
    position:relative;
    bottom: .3em;
    left: .2em;
    color: #fff;


}

/*End Navigation*/




/* Form */




::-webkit-input-placeholder {
 font-size: 14px;
 color: #black;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: black;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
 font-size: 14px;
 color: black;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-ms-input-placeholder {
 font-size: 14px;
 color: black;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}






form {
    margin: 1em auto;
    width: 900px;
    margin-top: 8em;

}

fieldset {
    position: relative;
    float: left;
    clear: both;
    margin: 2px;
    width: 100%;
    background-color: hsla(214, 37%, 42%, 0.49);
}


legend {
    font-weight: bold;
    padding: 0;
    color: #fff;
}

fieldset ol {
    list-style: none;
    padding: 3.5em 1em 0 1em;
}

fieldset li {
    padding-top: 1.5em;
    padding-bottom: 1em;
    width: 100%;
    margin-bottom: 1em;



}

input {
    position: relative;
    left: 8em;
    width: 80%;
    height: 6em;
    text-align: center;


}

select {
    position: relative;
    left: 8em;
    height: 6em;
    width: 80%;
 text-align: center;
}



optgroup {
    font-size: 14px;
    text-transform: uppercase;
}




label {
    position: relative;
    bottom: .5em;
    display: block;
    padding: 0;
    width: 6em;
    text-align: center;
    font-size: 160%;
    margin: 0 auto;
    font-family: "arial";
    color: #fff;

}


button {
    position: relative;
    bottom: .5em;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 40px;


}

span {
    position: absolute;
    top: 1em;
    left: 15em;
    font-size: 150%;

}