




/* Navigation Bar*/



nav {
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
     width: 100%;
     height: 4.6em;
    background-color: #0068b8;
    background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin-top: 0;
}


nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 50em;
    padding: 0;
}



nav ul li {
    float: left;

}

nav ul li a {
    display: block;
    padding: .7em;
    border: 1px solid white;
    border-radius: .5em;
    margin-top: 1em ;
    margin-left: 1.5em;
    text-decoration: none;
    background-color: white;
    color: black;
    font-variant: small-caps;

}

nav ul a:focus {
    co: #fff;
}

nav ul a:hover {
    background-color: #0068b8;
    color: white;
    border: 1px solid #0068b8;

}

nav ul a:active {
    position:relative;
    bottom: .3em;
    left: .2em;
    color: #fff;


}

/*End Navigation*/



body {

    * Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+30,207cca+44,7db9e8+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #207cca 30%, #207cca 44%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 30%,#207cca 44%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#207cca 30%,#207cca 44%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

ul, ol {
    list-style:none;
}



form {
    width: 400px;
    margin: 0 auto;

}


fieldset {
    margin-top: 200px;
    padding: 1em;
    border: 5px double #ccc;
    border-radius: 5px;
}

legend {
    border: 2px solid white;
    background-color: ivory;
    border-radius:5px;
    font-weight: bold;
    font-size: 18px;
}

 label {
     position: relative;
     bottom: 20px;
    float: left;
    text-align: right;
    font-size: 18px;

}

input, select {
    padding: 5px;
    margin-right: 20px;
    margin-top: 15px;

}

li {
    position: relative;
    margin-top: 0;
    padding-top: 0;
}

.csv {
    width: 30px;
}


input[type="submit"] {
    width: 400px;
    height: 32px;
    border: none;
    background-color: lightblue;
    border-radius: 5px;
    focus outline: none;
    font-size:20px;


 }

 input[type="submit"]:hover {
    color:white;
 }

 input[type="submit"]:active {
    position: relative;
    top:2px;
    left:2px;
    color:white;
 }


 input[type="text"]:valid {
     border: 2px solid green;
     color: green;
 }

 input[type="text"][value=""]:invalid {
     border: 2px solid red;
     color: red;
 }