
/* Navigation Bar*/



nav {
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
     width: 100%;
     height: 4.6em;
    background-color: #0068b8;
    background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin-top: 0;
    z-index: 1000;
}


nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 50em;
    padding: 0;
}



nav ul li {
    float: left;
    position: relative;

}

nav ul li a {
    display: block;
    padding: .7em;
    border: 1px solid white;
    border-radius: .5em;
    margin-top: 1em ;
    margin-left: 1.5em;
    text-decoration: none;
    background-color: white;
    color: black;
    font-variant: small-caps;

}

nav ul a:focus {
    co: #fff;
}

nav ul a:hover {
    background-color: #0068b8;
    color: white;
    border: 1px solid #0068b8;

}

nav ul a:active {
    position:relative;
    bottom: .3em;
    left: .2em;
    color: #fff;


}

/*End Navigation*/



ul , ol {
    list-style: none;
}

body {
    font-size:20px;
    background-color:lightblue;
}


form {
    width: 600px;
    margin: 0 auto;
}

fieldset {
    margin-top:-10px;;
}

.fieldOne {
    border-bottom-style:none;
    margin-top:15px;
    position: relative;
}
legend {

    text-align: center;
    font-weight: bold;
}

h1 {
    position:relative;
    left: 20px;
    margin: 20px auto;
    width: 300px;
    margin-top: 3em;
}

input {
    display: block;
    position: relative;
    left: 130px;
    margin-bottom:15px;
    width:240px;
    height: 30px;
    margin-left: 10px;
    text-align:center;
    font-size:.8em;
}

input[type="email"] {
    width:260px;
    left: 120px;
}



label {


}

ul li {
    text-align:center;
}

.submit {
    width: 400px;
    height: 40px;
    margin-left: 100px;
    margin-top: 15px;
    background-color: orange;
    border: 2px solid black;
    font-size: 20px;


}